.property1frame7Child {
  position: absolute;
  top: calc(50% - 497.5px);
  left: calc(50% - 528px);
  width: 1055.2px;
  height: 995px;
  object-fit: cover;
}
.property1frame7 {
  position: absolute;
  top: 20px;
  left: 20px;
  border-radius: var(--br-57xl);
  width: 1034px;
  height: 975px;
  overflow: hidden;
}
